<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 2: Analyzing Chipotle Data

_Author: Joseph Nelson (DC)_

---

For Project 2, you will complete a series of exercises exploring [order data from Chipotle](https://github.com/TheUpshot/chipotle), compliments of _The New York Times'_ "The Upshot."

For these exercises, you will conduct basic exploratory data analysis (Pandas not required) to understand the essentials of Chipotle's order data: how many orders are being made, the average price per order, how many different ingredients are used, etc. These allow you to practice business analysis skills while also becoming comfortable with Python.

---

## Basic Level

### Part 1: Read in the file with `csv.reader()` and store it in an object called `file_nested_list`.

Hint: This is a TSV (tab-separated value) file, and `csv.reader()` needs to be told [how to handle it](https://docs.python.org/2/library/csv.html).

In [338]:
import csv
from collections import namedtuple   # Convenient to store the data rows

DATA_FILE = './data/chipotle.tsv'

In [339]:
import pandas as pd
import numpy as np

file_nested_list = pd.read_table(DATA_FILE, sep='\t')

lspace = 4


#NAMES OF COLUMNS
print("\n"*lspace, "COLUMN NAMES\n")
print(file_nested_list.columns)
#NAMES OF COLUMNS


#COUNTING NULL VALUES
print("\n"*lspace, "COUNT OF TOTAL NULL VALUES\n")
print(file_nested_list.isnull().sum())

#[choice_description appears to have a large number of null values, however I have no idea what that means]
#COUNTING NULL VALUES


#GENERAL STATS ON QUANTITATIVE DATA
print("\n"*lspace, "DESCRIBE\n")
print(file_nested_list.describe())
#GENERAL STATS ON QUANTITATIVE DATA


#EXAMPLE OF DATA
print("\n"*lspace, "HEAD\n")
print(file_nested_list.head(20))
#EXAMPLE OF DATA


#LIST OF DATA TYPES
print("\n"*lspace, "DTYPES\n")
print(file_nested_list.dtypes)

# 1) We can see that [item_price] should be a float with two decimals, and that [item_name] should be string
# 2) Choice description is a bit more complicated as it seems to include a nested list of toppings for each item list
#LIST OF DATA TYPES

 COLUMN NAMES

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')




 COUNT OF TOTAL NULL VALUES

order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64




 DESCRIBE

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000




 HEAD

    order_id  quantity                              item_name  \
0          1         1           Chips and Fresh Tomato Salsa
1          1         1                                   Izze
2          1         1                       Nantucket Nectar
3          1         1  Chips and Tomatillo-Green Chili Salsa
4          2         2                           Chicken Bowl
5          3         1                           Chicken Bowl
6          3         1                          Side of Chips
7          4         1                          Steak Burrito
8          4         1                       Steak Soft Tacos
9          5         1                          Steak Burrito
10         5         1                    Chips and Guacamole
11         6         1                   Chicken Crispy Tacos
12         6         1                     Chicken Soft Tacos
13         7         1                           Chicken Bowl
14         7         1                    Chips and Guacamole
15         8         1  Chips and Tomatillo-Green Chili Salsa
16         8         1                        Chicken Burrito
17         9         1                        Chicken Burrito
18         9         2                            Canned Soda
19        10         1                           Chicken Bowl

                                   choice_description item_price
0                                                 NaN     $2.39
1                                        [Clementine]     $3.39
2                                             [Apple]     $3.39
3                                                 NaN     $2.39
4   [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5   [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                 NaN     $1.69
7   [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8   [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9   [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25
10                                                NaN     $4.45
11  [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $8.75
12  [Roasted Chili Corn Salsa, [Rice, Black Beans,...     $8.75
13  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25
14                                                NaN     $4.45
15                                                NaN     $2.39
16  [Tomatillo-Green Chili Salsa (Medium), [Pinto ...     $8.49
17  [Fresh Tomato Salsa (Mild), [Black Beans, Rice...     $8.49
18                                           [Sprite]     $2.18
19  [Tomatillo Red Chili Salsa, [Fajita Vegetables...     $8.75




 DTYPES

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [291]:
# file_nested_list.choice_description[:50]
# file_nested_list.choice_description.describe()
# file_nested_list.choice_description.unique()

#List of All Menu Items
print("\n"*lspace, "MENU ITEMS\n")
print(file_nested_list.item_name.unique())
#List of All Menu Items

#Number of Times Each Menu Item Was Ordered
print("\n"*lspace, "TIMES ORDERED\n")
print(file_nested_list.item_name.value_counts())
#Number of Times Each Menu Item Was Ordered

 MENU ITEMS

['Chips and Fresh Tomato Salsa' 'Izze' 'Nantucket Nectar'
 'Chips and Tomatillo-Green Chili Salsa' 'Chicken Bowl' 'Side of Chips'
 'Steak Burrito' 'Steak Soft Tacos' 'Chips and Guacamole'
 'Chicken Crispy Tacos' 'Chicken Soft Tacos' 'Chicken Burrito'
 'Canned Soda' 'Barbacoa Burrito' 'Carnitas Burrito' 'Carnitas Bowl'
 'Bottled Water' 'Chips and Tomatillo Green Chili Salsa' 'Barbacoa Bowl'
 'Chips' 'Chicken Salad Bowl' 'Steak Bowl' 'Barbacoa Soft Tacos'
 'Veggie Burrito' 'Veggie Bowl' 'Steak Crispy Tacos'
 'Chips and Tomatillo Red Chili Salsa' 'Barbacoa Crispy Tacos'
 'Veggie Salad Bowl' 'Chips and Roasted Chili-Corn Salsa'
 'Chips and Roasted Chili Corn Salsa' 'Carnitas Soft Tacos' 'Chicken Salad'
 'Canned Soft Drink' 'Steak Salad Bowl' '6 Pack Soft Drink'
 'Chips and Tomatillo-Red Chili Salsa' 'Bowl' 'Burrito' 'Crispy Tacos'
 'Carnitas Crispy Tacos' 'Steak Salad' 'Chips and Mild Fresh Tomato Salsa'
 'Veggie Soft Tacos' 'Carnitas Salad Bowl' 'Barbacoa Salad Bowl' 'Salad'
 'Veggie Crispy Tacos' 'Veggie Salad' 'Carnitas Salad']




 TIMES ORDERED

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Chips and Tomatillo-Red Chili Salsa       20
Izze                                      20
Chips and Roasted Chili-Corn Salsa        18
Veggie Salad Bowl                         18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Burrito                                    6
Carnitas Salad Bowl                        6
Veggie Salad                               6
Steak Salad                                4
Salad                                      2
Crispy Tacos                               2
Bowl                                       2
Chips and Mild Fresh Tomato Salsa          1
Carnitas Salad                             1
Veggie Crispy Tacos                        1
Name: item_name, dtype: int64

### Part 2: Separate `file_nested_list` into the `header` and the `data`.

In [340]:
#Store as a list
# header = list(file_nested_list.columns.values)
# header = file_nested_list.columns.values.tolist()

#To numpy array
# header = file_nested_list.columns.values

#To pd Series...  What was I thinking??????!!!!?!?!?!!?!?!!? 
header = pd.series = file_nested_list.columns.values
print(type(header))

<class 'numpy.ndarray'>

In [341]:
#Store as a numpy array
# data = file_nested_list.values

#Store as a list
# data = file_nested_list.values.tolist()

#Store as DF... Seriously, WTF was I thinking???!?!?!?!!!#$$$
data = pd.DataFrame(file_nested_list.values)



print(type(data))
print(data)

<class 'pandas.core.frame.DataFrame'>
         0  1                                      2  \
0        1  1           Chips and Fresh Tomato Salsa
1        1  1                                   Izze
2        1  1                       Nantucket Nectar
3        1  1  Chips and Tomatillo-Green Chili Salsa
4        2  2                           Chicken Bowl
5        3  1                           Chicken Bowl
6        3  1                          Side of Chips
7        4  1                          Steak Burrito
8        4  1                       Steak Soft Tacos
9        5  1                          Steak Burrito
10       5  1                    Chips and Guacamole
11       6  1                   Chicken Crispy Tacos
12       6  1                     Chicken Soft Tacos
13       7  1                           Chicken Bowl
14       7  1                    Chips and Guacamole
15       8  1  Chips and Tomatillo-Green Chili Salsa
16       8  1                        Chicken Burrito
17       9  1                        Chicken Burrito
18       9  2                            Canned Soda
19      10  1                           Chicken Bowl
20      10  1                    Chips and Guacamole
21      11  1                       Barbacoa Burrito
22      11  1                       Nantucket Nectar
23      12  1                        Chicken Burrito
24      12  1                                   Izze
25      13  1           Chips and Fresh Tomato Salsa
26      13  1                           Chicken Bowl
27      14  1                       Carnitas Burrito
28      14  1                            Canned Soda
29      15  1                        Chicken Burrito
...    ... ..                                    ...
4592  1825  1                       Barbacoa Burrito
4593  1825  1                          Carnitas Bowl
4594  1825  1                          Barbacoa Bowl
4595  1826  1                           Chicken Bowl
4596  1826  1                    Chips and Guacamole
4597  1826  1                      Canned Soft Drink
4598  1826  1                          Bottled Water
4599  1827  1                           Chicken Bowl
4600  1827  1                    Chips and Guacamole
4601  1827  1                      Canned Soft Drink
4602  1827  1                       Barbacoa Burrito
4603  1827  1                       Barbacoa Burrito
4604  1828  1                           Chicken Bowl
4605  1828  1                    Chips and Guacamole
4606  1828  1                      Canned Soft Drink
4607  1829  1                          Steak Burrito
4608  1829  1                         Veggie Burrito
4609  1829  1                      Canned Soft Drink
4610  1830  1                          Steak Burrito
4611  1830  1                         Veggie Burrito
4612  1831  1                          Carnitas Bowl
4613  1831  1                                  Chips
4614  1831  1                          Bottled Water
4615  1832  1                     Chicken Soft Tacos
4616  1832  1                    Chips and Guacamole
4617  1833  1                          Steak Burrito
4618  1833  1                          Steak Burrito
4619  1834  1                     Chicken Salad Bowl
4620  1834  1                     Chicken Salad Bowl
4621  1834  1                     Chicken Salad Bowl

                                                      3        4
0                                                   NaN   $2.39
1                                          [Clementine]   $3.39
2                                               [Apple]   $3.39
3                                                   NaN   $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...  $16.98
5     [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...  $10.98
6                                                   NaN   $1.69
7     [Tomatillo Red Chili Salsa, [Fajita Vegetables...  $11.75
8     [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...   $9.25
9     [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...   $9.25
10                                                  NaN   $4.45
11    [Roasted Chili Corn Salsa, [Fajita Vegetables,...   $8.75
12    [Roasted Chili Corn Salsa, [Rice, Black Beans,...   $8.75
13    [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...  $11.25
14                                                  NaN   $4.45
15                                                  NaN   $2.39
16    [Tomatillo-Green Chili Salsa (Medium), [Pinto ...   $8.49
17    [Fresh Tomato Salsa (Mild), [Black Beans, Rice...   $8.49
18                                             [Sprite]   $2.18
19    [Tomatillo Red Chili Salsa, [Fajita Vegetables...   $8.75
20                                                  NaN   $4.45
21    [[Fresh Tomato Salsa (Mild), Tomatillo-Green C...   $8.99
22                                 [Pomegranate Cherry]   $3.39
23    [[Tomatillo-Green Chili Salsa (Medium), Tomati...  $10.98
24                                         [Grapefruit]   $3.39
25                                                  NaN   $2.39
26    [Roasted Chili Corn Salsa (Medium), [Pinto Bea...   $8.49
27    [[Tomatillo-Green Chili Salsa (Medium), Roaste...   $8.99
28                                         [Dr. Pepper]   $1.09
29    [Tomatillo-Green Chili Salsa (Medium), [Pinto ...   $8.49
...                                                 ...      ...
4592  [Tomatillo Red Chili Salsa, [Rice, Fajita Vege...  $11.75
4593  [Roasted Chili Corn Salsa, [Rice, Sour Cream, ...  $11.75
4594  [Roasted Chili Corn Salsa, [Pinto Beans, Sour ...  $11.75
4595  [Tomatillo Green Chili Salsa, [Rice, Black Bea...   $8.75
4596                                                NaN   $4.45
4597                                           [Nestea]   $1.25
4598                                                NaN   $1.50
4599      [Roasted Chili Corn Salsa, [Cheese, Lettuce]]   $8.75
4600                                                NaN   $4.45
4601                                        [Diet Coke]   $1.25
4602                      [Tomatillo Green Chili Salsa]   $9.25
4603                      [Tomatillo Green Chili Salsa]   $9.25
4604  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...   $8.75
4605                                                NaN   $4.45
4606                                             [Coke]   $1.25
4607  [Tomatillo Green Chili Salsa, [Rice, Cheese, S...  $11.75
4608  [Tomatillo Red Chili Salsa, [Fajita Vegetables...  $11.25
4609                                           [Sprite]   $1.25
4610  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...  $11.75
4611  [Tomatillo Green Chili Salsa, [Rice, Fajita Ve...  $11.25
4612  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...   $9.25
4613                                                NaN   $2.15
4614                                                NaN   $1.50
4615   [Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]   $8.75
4616                                                NaN   $4.45
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...  $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...  $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...  $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...   $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...   $8.75

[4622 rows x 5 columns]

---

## Intermediate Level

### Part 3: Calculate the average price of an order.

Hint: Examine the data to see if the `quantity` column is relevant to this calculation.

Hint: Think carefully about the simplest way to do this!

In [342]:
# Step 01 Identify The Unique Orders
unique_orders = data.iloc[:,0].unique()
data[4] = [float(x[1:]) for x in data[4]]


print("Uniques: ", len(unique_orders))
print("All: ", data.iloc[:,0].count())
print("Data Type For unique_orders:", type(unique_orders), "\n")
print("Data Type For unique_orders items:", type(unique_orders[2]), "\n\n")






















# FAILURE NUMBER 02

#order_id is index 0 in list data
#price is index 4 in list data

# test = [sum(data["item_price"]) for x in data if x == data.iloc[:,order_id]]
# order_list = [sum(float(data[0][4])) for x in range(len(data)) if data[0] == x]

# order_list = 
# data[0]
# order_list = [x for x in range(len(data))]

# print(float(data[0][4].strip()[1:]))
# print(order_list)
# print(type(data[0][4]))

# print(data.iloc[4:5, :])
# test = float(data.iloc[4,4][1:])
# print(type(data.iloc[4,4]))
# print(type(test))



# 01 - Coerce Column Index 4 to Float

# data.apply(lambda x: float(data.iloc[x,4][1:]) for x in data)
# data.apply(lambda x: data.iloc[x,4][1:] for x in data.iloc[x,4])

# data["new_price"] = [x]
# data

# FAILURE NUMBER 02




#FAILURE NUMBER 01
# file_nested_list["item_price"] = [float(x[1:]) for x in file_nested_list["item_price"]]


# # Bad attempt at list comprehension that would have been to complex for me for now
# order_totals = [sum(files_nested_list["item_price"]) if x == files_nested_list["order_id"]]



# print(type(data.iloc[4,4]))
# print(type(test))
# print(data.iloc[4,:])













# print(data)



# # Step 02 Convert item-price to float
# file_nested_list["item_price"] = [float(x[1:]) for x in file_nested_list["item_price"]]
# print(file_nested_list[:,"item_price"])





# # file_nested_list["order_totals"] = [file_nested_list["item_price"]] 

# order_total_list = []

# for x in unique_orders:
#     order_total = 0
#     for row in data:
#         print(x, data.iloc[row,4])
# #         if data[row] == x:
# #             order_total += row[4]
# #             print(order_total)
# #     order_total_list.append(order_total)

Uniques:  1834
All:  4622
Data Type For unique_orders: <class 'numpy.ndarray'>

Data Type For unique_orders items: <class 'int'>

In [343]:
print(data.iloc[1:4])

   0  1                                      2             3     4
1  1  1                                   Izze  [Clementine]  3.39
2  1  1                       Nantucket Nectar       [Apple]  3.39
3  1  1  Chips and Tomatillo-Green Chili Salsa           NaN  2.39

In [344]:
#Confirm that the price is a floating point number 
data.head()

print("Item Price DataType is:", type(data.iloc[3,4]), "\n\n\n\nRow Number Four", data.iloc[4,:])

Item Price DataType is: <class 'numpy.float64'>



Row Number Four 0                                                    2
1                                                    2
2                                         Chicken Bowl
3    [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
4                                                16.98
Name: 4, dtype: object

In [345]:

# # Doing this the long way...

# order_total = []

# list_of_prices = []
# list_of_prices = [len(file_nested_list.loc([x]["item_price"]) for x in list_of_prices]


# print(type(file_nested_list.loc[:,"item_price"]))
# print(list_of_prices)

####

In [346]:
unique_orders = data.iloc[:,0].unique()
print("Uniques: ", len(unique_orders))
print("All: ", data.iloc[:,0].count())
print(type(unique_orders))
# print(unique_orders[1])

Uniques:  1834
All:  4622
<class 'numpy.ndarray'>

In [347]:
file_nested_list["item_price"] = [float(x[1:]) for x in file_nested_list["item_price"]]

In [348]:
file_nested_list.head(4)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39

In [416]:
# order_totals = [file_nested_list.loc[n,"item_price"] for n in file_nested_list if file_nested_list[n, "order_id"] == n]

# order_totals = [sum(file_nested_list.loc[x, "item_price"]) for y in range(len(file_nested_list)) if file_nested_list.loc[x,"order_id"] == x ]

# ot = [[sum(file_nested_list.loc[x,"item_price"]) for x in file_nested_list]

# order_totals = []

# for i in range(len(file_nested_list)):
#     current_sum = file_nested_list[file_nested_list["order_id"] == i]
# #     print(current_sum.iloc[:,4])
#     order_totals.append(current_sum.iloc[:,4].sum())
# print(order_totals)
# #     order_totals.append(sum(current_sum.loc[:,"item_price"]))
# #     order_totals += (file_nested_list.loc[i, "order_id"],  file_nested_list.loc[i, "item_price"])
# #     print(order_totals)
# # print(order_totals)



order_totals = data.groupby(0)[4].sum()
print("The Average Order Is For:", '${:,.2f}'.format(order_totals.mean()))

    

# data[4] = [float(x[1:]) for x in data[4]]
# test = data.loc[data[0]==1, data[4]].sum()

The Average Order Is For: $18.81

### Part 4: Create a list (or set) named `unique_sodas` containing all of unique sodas and soft drinks that Chipotle sells.

Note: Just look for `'Canned Soda'` and `'Canned Soft Drink'`, and ignore other drinks like `'Izze'`.

In [408]:
sodas_unique = set()
# file_nested_list[[(file_nested_list["item_name"] == "Canned Soft Drink")], [(file_nested_list["item_name"] == "Canned Soda")]]
# sodas_unique.append(file_nested_list.loc[(file_nested_list["item_name"] == "Canned Soda")]["choice_description"])
# sodas_unique.append(file_nested_list.loc[(file_nested_list["item_name"] == "Canned Soft Drink")]["choice_description"])

# sodas_unique = [data[x][3] for x in range(len(data)) if data[x][2].contains("Canned")]
# print(type(data[4][2]))

<class 'numpy.float64'>

In [412]:

for x in range(len(data)):
    if data.iloc[x, 2] == "Canned Soft Drink" or data.iloc[x, 2] == "Canned Soda":
#         print(data.iloc[x, 3])
        sodas_unique.add(data.iloc[x, 3])

In [413]:
print(sodas_unique)

{'[Sprite]', '[Coke]', '[Dr. Pepper]', '[Coca Cola]', '[Mountain Dew]', '[Diet Coke]', '[Lemonade]', '[Diet Dr. Pepper]', '[Nestea]'}

---

## Advanced Level

### Part 5: Calculate the average number of toppings per burrito.

Note: Let's ignore the `quantity` column to simplify this task.

Hint: Think carefully about the easiest way to count the number of toppings!

In [456]:
# print(type(data.iloc[8][2]))
# print(data.iloc[8][2])

# print(type(data.iloc[8][3]))
# print(data.iloc[8][3])

t_number = 0 #Running total of number of toppings on burrito
b_orders = 0 #Total number of burrito orders

for x in range(len(data)):
    if "Burrito" in data.iloc[x][2]:
        t_number += data.iloc[x][3].count(",") + 1
        b_orders += 1
                
print("The average number of toppings per burrito order is:", t_number / b_orders)

The average number of toppings per burrito order is: 5.395051194539249

### Part 6: Create a dictionary. Let the keys represent chip orders and the values represent the total number of orders.

Expected output: `{'Chips and Roasted Chili-Corn Salsa': 18, ... }`

Note: Please take the `quantity` column into account!

Optional: Learn how to use `.defaultdict()` to simplify your code.

In [480]:
data[2]




from collections import defaultdict

chipInventory = []
chipCount = defaultdict(int)


for line in range(len(data)):
    print(data[line,2])
#     if "Chips" in line.iloc[2]:
#         for i in range(int(line[1])):
#             chipInventory.append(line[2])

# for item in chipInventory:
#     chipCount[item] += 1        


# print("The Chip Order Totals By Chip Type Was As Follows:")
# for line in chipCount:
#     print(line, ": ", chipCount[line])
    
# print("The total number of chip orders was:", sum(chipCount.values()))

KeyError: (0, 2)

---

## Bonus: Craft a problem statement about this data that interests you, and then answer it!

In [ ]:
chip